# Data Cleaning 1 
### Converting FemaWebDisasterSummaries.csv into DisasterSummaries.csv for use in our database

In [2]:
import pandas as pd

In [3]:
dirty_summary_table = pd.read_csv("FemaWebDisasterSummaries.csv")

In [4]:
dirty_summary_table.head()

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountPa,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate,hash,lastRefresh
0,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4d19a1c0116ebbd291f446dd4f353f5d,2019-09-04T00:47:21.380Z
1,1268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5a9fb5ef3295e1e55f0901c821bb6e1f,2019-09-04T00:47:21.382Z
2,1241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,777ead5c411cb2efb04436853d0b7443,2018-03-09T18:42:11.608Z
3,1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b65172351ce90f9f3f1912f0cf401390,2019-09-04T00:47:21.380Z
4,1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,da36ec31dba54b471b394548e699d17a,2019-09-04T00:47:21.378Z

### Our PostgreSQL does not need data that references database maintenance.Create a new table that includes only the columns that we need.

In [5]:
disasterSummaries = dirty_summary_table[
    ['disasterNumber', 'totalNumberIaApproved', 'totalAmountIhpApproved',
    'totalAmountHaApproved', 'totalAmountOnaApproved', 'totalObligatedAmountCatAb',
    'totalObligatedAmountCatC2g', 'paLoadDate', 'iaLoadDate']].copy()

In [6]:
disasterSummaries.head()

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate
0,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Check dtypes
print(disasterSummaries.dtypes)

disasterNumber                  int64
totalNumberIaApproved         float64
totalAmountIhpApproved        float64
totalAmountHaApproved         float64
totalAmountOnaApproved        float64
totalObligatedAmountCatAb     float64
totalObligatedAmountCatC2g    float64
paLoadDate                    float64
iaLoadDate                     object
dtype: object

### Remove hour:minute:second:timezone

In [9]:
disasterSummaries['iaLoadDate'] = disasterSummaries['iaLoadDate'].str.replace('T00:00:00.000Z', '')

In [30]:
disasterSummaries = disasterSummaries.rename(columns={'disasterNumber': 'disasternumber', 'totalNumberIaApproved': 'totalnumberiaapproved','totalAmountIhpApproved':'totalamountihpapproved', 'totalAmountHaApproved': 'totalamounthaapproved', 'totalAmountOnaApproved': 'totalamountonaapproved', 'totalObligatedAmountCatAb': 'totalobligatedamountcatab', 'totalObligatedAmountCatC2g':'totalobligatedamountcatc2g', 'paLoadDate': 'paloaddate', 'iaLoadDate': 'ialoaddate'})
print(disasterSummaries)

      disasternumber  totalnumberiaapproved  totalamountihpapproved  \
0               1258                    NaN                     NaN
1               1268                    NaN                     NaN
2               1241                    NaN                     NaN
3               1265                    NaN                     NaN
4               1247                    NaN                     NaN
5               1272                    NaN                     NaN
6               1243                    NaN                     NaN
7               1239                    NaN                     NaN
8               1278                    NaN                     NaN
9               1250                    NaN                     NaN
10              1275                    NaN                     NaN
11              1257                    NaN                     NaN
12              1285                    NaN                     NaN
13              1310                    NaN                     NaN
14              1335                    NaN                     NaN
15              1282                    NaN                     NaN
16              1256                    NaN                     NaN
17              1263                    NaN                     NaN
18              1273                    NaN                     NaN
19              1245                    NaN                     NaN
20              1270                    NaN                     NaN
21              1252                    NaN                     NaN
22              1277                    NaN                     NaN
23              1305                    NaN                     NaN
24              1248                    NaN                     NaN
25              1244                    NaN                     NaN
26              1283                    NaN                     NaN
27              1255                    NaN                     NaN
28              1280                    NaN                     NaN
29              1262                    NaN                     NaN
...              ...                    ...                     ...
2897            4449                    NaN                     NaN
2898            4450                    NaN                     NaN
2899            5282                    NaN                     NaN
2900            3415                    NaN                     NaN
2901            4451                 1436.0              6642730.06
2902            4452                    NaN                     NaN
2903            3416                    NaN                     NaN
2904            4453                    NaN                     NaN
2905            4454                 2169.0             11376601.35
2906            5283                    NaN                     NaN
2907            5284                    NaN                     NaN
2908            5286                    NaN                     NaN
2909            5285                    NaN                     NaN
2910            4455                    NaN                     NaN
2911            4456                    NaN                     NaN
2912            4457                    NaN                     NaN
2913            5287                    NaN                     NaN
2914            5288                    NaN                     NaN
2915            5290                    NaN                     NaN
2916            5289                    NaN                     NaN
2917            5291                    NaN                     NaN
2918            4458                    NaN                     NaN
2919            4459                    NaN                     NaN
2920            3417                    NaN                     NaN
2921            3418                    NaN                     NaN
2922            3419                    NaN                     NaN
2923            3420                    NaN                     NaN
2924            5292                    NaN                     NaN
2925            3421                    NaN                     NaN
2926            3422                    NaN                     NaN

      totalamounthaapproved  totalamountonaapproved  \
0                       NaN                     NaN
1                       NaN                     NaN
2                       NaN                     NaN
3                       NaN                     NaN
4                       NaN                     NaN
5                       NaN                     NaN
6                       NaN                     NaN
7                       NaN                     NaN
8                       NaN                     NaN
9                       NaN                     NaN
10                      NaN                     NaN
11                      NaN                     NaN
12                      NaN                     NaN
13                      NaN                     NaN
14                      NaN                     NaN
15                      NaN                     NaN
16                      NaN                     NaN
17                      NaN                     NaN
18                      NaN                     NaN
19                      NaN                     NaN
20                      NaN                     NaN
21                      NaN                     NaN
22                      NaN                     NaN
23                      NaN                     NaN
24                      NaN                     NaN
25                      NaN                     NaN
26                      NaN                     NaN
27                      NaN                     NaN
28                      NaN                     NaN
29                      NaN                     NaN
...                     ...                     ...
2897                    NaN                     NaN
2898                    NaN                     NaN
2899                    NaN                     NaN
2900                    NaN                     NaN
2901             5623052.63              1019677.43
2902                    NaN                     NaN
2903                    NaN                     NaN
2904                    NaN                     NaN
2905             9849886.17              1526715.18
2906                    NaN                     NaN
2907                    NaN                     NaN
2908                    NaN                     NaN
2909                    NaN                     NaN
2910                    NaN                     NaN
2911                    NaN                     NaN
2912                    NaN                     NaN
2913                    NaN                     NaN
2914                    NaN                     NaN
2915                    NaN                     NaN
2916                    NaN                     NaN
2917                    NaN                     NaN
2918                    NaN                     NaN
2919                    NaN                     NaN
2920                    NaN                     NaN
2921                    NaN                     NaN
2922                    NaN                     NaN
2923                    NaN                     NaN
2924                    NaN                     NaN
2925                    NaN                     NaN
2926                    NaN                     NaN

      totalobligatedamountcatab  totalobligatedamountcatc2g  paloaddate  \
0                           NaN                         NaN         NaN
1                           NaN                         NaN         NaN
2                           NaN                         NaN         NaN
3                           NaN                         NaN         NaN
4                           NaN                         NaN         NaN
5                           NaN                         NaN         NaN
6                           NaN                         NaN         NaN
7                           NaN                         NaN         NaN
8                           NaN                         NaN         NaN
9                           NaN                         NaN         NaN
10                          NaN                         NaN         NaN
11                          NaN                         NaN         NaN
12                          NaN                         NaN         NaN
13                          NaN                         NaN         NaN
14                          NaN                         NaN         NaN
15                          NaN                         NaN         NaN
16                          NaN                         NaN         NaN
17                          NaN                         NaN         NaN
18                          NaN                         NaN         NaN
19                          NaN                         NaN         NaN
20                          NaN                         NaN         NaN
21                          NaN                         NaN         NaN
22                          NaN                         NaN         NaN
23                          NaN                         NaN         NaN
24                          NaN                         NaN         NaN
25                          NaN                         NaN         NaN
26                          NaN                         NaN         NaN
27                          NaN                         NaN         NaN
28                          NaN                         NaN         NaN
29                          NaN                         NaN         NaN
...                         ...                         ...         ...
2897                        NaN                         NaN         NaN
2898                        NaN                         NaN         NaN
2899                        NaN                         NaN         NaN
2900                        NaN                         NaN         NaN
2901                        NaN                         NaN         NaN
2902                        NaN                         NaN         NaN
2903                        NaN                         NaN         NaN
2904                        NaN                         NaN         NaN
2905                        NaN                         NaN         NaN
2906                        NaN                         NaN         NaN
2907                        NaN                         NaN         NaN
2908                        NaN                         NaN         NaN
2909                        NaN                         NaN         NaN
2910                        NaN                         NaN         NaN
2911                        NaN                         NaN         NaN
2912                        NaN                         NaN         NaN
2913                        NaN                         NaN         NaN
2914                        NaN                         NaN         NaN
2915                        NaN                         NaN         NaN
2916                        NaN                         NaN         NaN
2917                        NaN                         NaN         NaN
2918                        NaN                         NaN         NaN
2919                        NaN                         NaN         NaN
2920                        NaN                         NaN         NaN
2921                        NaN                         NaN         NaN
2922                        NaN                         NaN         NaN
2923                        NaN                         NaN         NaN
2924                        NaN                         NaN         NaN
2925                        NaN                         NaN         NaN
2926                        NaN                         NaN         NaN

      ialoaddate
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
2897         NaN
2898         NaN
2899         NaN
2900         NaN
2901  2019-09-03
2902         NaN
2903         NaN
2904         NaN
2905  2019-09-03
2906         NaN
2907         NaN
2908         NaN
2909         NaN
2910         NaN
2911         NaN
2912         NaN
2913         NaN
2914         NaN
2915         NaN
2916         NaN
2917         NaN
2918         NaN
2919         NaN
2920         NaN
2921         NaN
2922         NaN
2923         NaN
2924         NaN
2925         NaN
2926         NaN

[2927 rows x 9 columns]

# Export to PostgreSQL

In [24]:
from sqlalchemy import create_engine

In [25]:
conn = "postgres:Minnesota78!@localhost:5432/Project_2"
engine = create_engine((f'postgresql://{conn}'))

In [26]:
engine.table_names()

['disasterdeclarations', 'disastersummaries2', 'disastersummaries']

In [31]:
disasterSummaries.to_sql(name='disastersummaries', con=engine, if_exists='append', index=False)

In [33]:
pd.read_sql_query('select * from disastersummaries', con=engine).head(15)

,disasternumber,totalnumberiaapproved,totalamountihpapproved,totalamounthaapproved,totalamountonaapproved,totalobligatedamountpa,totalobligatedamountcatab,totalobligatedamountcatc2g,paloaddate,ialoaddate
0,1258,NaN,NaN,NaN,NaN,None,None,None,None,None
1,1268,NaN,NaN,NaN,NaN,None,None,None,None,None
2,1241,NaN,NaN,NaN,NaN,None,None,None,None,None
3,1265,NaN,NaN,NaN,NaN,None,None,None,None,None
4,1247,NaN,NaN,NaN,NaN,None,None,None,None,None
5,1272,NaN,NaN,NaN,NaN,None,None,None,None,None
6,1243,NaN,NaN,NaN,NaN,None,None,None,None,None
7,1239,NaN,NaN,NaN,NaN,None,None,None,None,None
8,1278,NaN,NaN,NaN,NaN,None,None,None,None,None
9,1250,NaN,NaN,NaN,NaN,None,None,None,None,None
10,1275,NaN,NaN,NaN,NaN,None,None,None,None,None
11,1257,NaN,NaN,NaN,NaN,None,None,None,None,None
12,1285,NaN,NaN,NaN,NaN,None,None,None,None,None
13,1310,NaN,NaN,NaN,NaN,None,None,None,None,None
14,1335,NaN,NaN,NaN,NaN,None,None,None,None,None

In [45]:
DS = disasterSummaries.sort_values(by='totalnumberiaapproved', ascending=True).head(15)


DS

,disasternumber,totalnumberiaapproved,totalamountihpapproved,totalamounthaapproved,totalamountonaapproved,totalobligatedamountcatab,totalobligatedamountcatc2g,paloaddate,ialoaddate
270,1495,1.0,1756.20,1756.20,NaN,NaN,NaN,NaN,2019-09-03
2472,4341,3.0,9674.92,9674.92,NaN,NaN,NaN,NaN,2019-09-03
380,1637,53.0,215839.32,170580.92,45258.40,NaN,NaN,NaN,2019-09-03
468,1726,58.0,432005.40,306633.18,125372.22,NaN,NaN,NaN,2019-09-03
346,1599,77.0,474304.46,284815.63,189488.83,NaN,NaN,NaN,2019-09-03
2334,4089,105.0,421340.81,378748.80,42592.01,NaN,NaN,NaN,2019-09-03
640,1820,105.0,1251943.17,1000815.99,251127.18,NaN,NaN,NaN,2019-09-03
358,1617,109.0,459715.15,229744.12,229971.03,NaN,NaN,NaN,2019-09-03
522,1846,115.0,2055904.84,1798705.32,257199.52,NaN,NaN,NaN,2019-09-03
222,1470,124.0,740552.45,390852.02,349700.43,NaN,NaN,NaN,2019-09-03
213,1444,127.0,579893.02,297240.48,282652.54,NaN,NaN,NaN,2019-09-03
397,1680,132.0,943028.88,798183.02,144845.86,NaN,NaN,NaN,2019-09-03
513,1762,134.0,419744.26,172931.52,246812.74,NaN,NaN,NaN,2019-09-03
2862,4419,136.0,1293818.47,1027576.99,266241.48,NaN,NaN,NaN,2019-09-03
2380,4227,148.0,1293347.34,1015897.76,277449.58,NaN,NaN,NaN,2019-09-03

In [46]:
DS.to_html('disasterSummaries.html')