# Data Cleaning 1 
### Converting FemaWebDisasterSummaries.csv into DisasterSummaries.csv for use in our database

In [1]:
import pandas as pd

In [2]:
dirty_summary_table = pd.read_csv("FemaWebDisasterSummaries.csv")

In [3]:
dirty_summary_table.head()

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountPa,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate,hash,lastRefresh
0,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4d19a1c0116ebbd291f446dd4f353f5d,2019-09-04T00:47:21.380Z
1,1268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5a9fb5ef3295e1e55f0901c821bb6e1f,2019-09-04T00:47:21.382Z
2,1241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,777ead5c411cb2efb04436853d0b7443,2018-03-09T18:42:11.608Z
3,1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b65172351ce90f9f3f1912f0cf401390,2019-09-04T00:47:21.380Z
4,1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,da36ec31dba54b471b394548e699d17a,2019-09-04T00:47:21.378Z

### Our PostgreSQL does not need data that references database maintenance.Create a new table that includes only the columns that we need.

In [5]:
disasterSummaries = dirty_summary_table[
    ['disasterNumber', 'totalNumberIaApproved', 'totalAmountIhpApproved',
    'totalAmountHaApproved', 'totalAmountOnaApproved', 'totalObligatedAmountCatAb',
    'totalObligatedAmountCatC2g', 'paLoadDate', 'iaLoadDate']].copy()

In [6]:
disasterSummaries.head()

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalAmountHaApproved,totalAmountOnaApproved,totalObligatedAmountCatAb,totalObligatedAmountCatC2g,paLoadDate,iaLoadDate
0,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Check dtypes
print(disasterSummaries.dtypes)

disasterNumber                  int64
totalNumberIaApproved         float64
totalAmountIhpApproved        float64
totalAmountHaApproved         float64
totalAmountOnaApproved        float64
totalObligatedAmountCatAb     float64
totalObligatedAmountCatC2g    float64
paLoadDate                    float64
iaLoadDate                     object
dtype: object

In [7]:
disasterSummaries.to_csv("DisasterSummaries.csv")