# Data Cleaning 3

### Cleaning the JSON file. 

Source: https://www.fema.gov/api/open/v1/FemaWebDeclarationAreas

JSON file was taken from above URL.

In [66]:
# Import dependencies
import json
import pandas as pd

In [67]:
# Read in file.
FEMA_areas_data = pd.read_json('FEMAareas.json')

In [68]:
# Look at headings
FEMA_areas_data.head()

,closeoutDate,designatedDate,disasterNumber,entryDate,hash,id,lastRefresh,placeCode,placeName,programTypeCode,programTypeDescription,stateCode,stateName,updateDate
0,NaN,2013-06-25T00:00:00.000Z,4122,2013-06-25T00:00:00.000Z,93ef5733b3a00b7e27b5dd7005435a35,5aa2d0e8cb4f0f7020abed71,2018-03-09T18:22:32.135Z,1255,Alaska Gateway Regional Educational Attendance...,PA,PA - Public Assistance,AK,Alaska,2013-06-25T00:00:00.000Z
1,NaN,2013-06-25T00:00:00.000Z,4122,2013-06-25T00:00:00.000Z,78cf589fa42c07e610fecfdf41a62542,5aa2d0e8cb4f0f7020abed7d,2018-03-09T18:22:32.153Z,1255,Alaska Gateway Regional Educational Attendance...,IH,IH - IHP-Individuals & Households,AK,Alaska,2013-06-25T00:00:00.000Z
2,NaN,2012-11-28T00:00:00.000Z,4094,2012-11-28T00:00:00.000Z,617692ae23ed75b1f9e6b24539253fe8,5aa2d0e8cb4f0f7020abed7e,2018-03-09T18:22:32.154Z,1255,Alaska Gateway Regional Educational Attendance...,PA-C,PA-C - Roads & Bridges,AK,Alaska,2012-11-28T00:00:00.000Z
3,1997-12-16T00:00:00.000Z,1989-05-10T00:00:00.000Z,826,1993-07-25T00:00:00.000Z,,5aa2d0e8cb4f0f7020abed79,2019-07-02T19:07:06.946Z,1580,Aleutian Islands (Census Subarea),PA-B,PA-B - Protective Measures,AK,Alaska,1993-07-25T00:00:00.000Z
4,1997-12-16T00:00:00.000Z,1989-05-10T00:00:00.000Z,826,1993-07-25T00:00:00.000Z,,5aa2d0e8cb4f0f7020abed83,2019-07-02T19:07:06.965Z,1580,Aleutian Islands (Census Subarea),PA-A,PA-A - Debris Removal,AK,Alaska,1993-07-25T00:00:00.000Z

### PostgreSQL table needs only disasterNumber, programTypeCode, programTypeDescription, stateCode, placeCode, and designatedDate. Create a new DF with only those columns.

In [69]:
declarationAreas = FEMA_areas_data[['disasterNumber', 'programTypeCode',
                                'programTypeDescription', 'stateCode',
                                'placeCode', 'designatedDate']].copy()

In [70]:
declarationAreas.head()

,disasterNumber,programTypeCode,programTypeDescription,stateCode,placeCode,designatedDate
0,4122,PA,PA - Public Assistance,AK,1255,2013-06-25T00:00:00.000Z
1,4122,IH,IH - IHP-Individuals & Households,AK,1255,2013-06-25T00:00:00.000Z
2,4094,PA-C,PA-C - Roads & Bridges,AK,1255,2012-11-28T00:00:00.000Z
3,826,PA-B,PA-B - Protective Measures,AK,1580,1989-05-10T00:00:00.000Z
4,826,PA-A,PA-A - Debris Removal,AK,1580,1989-05-10T00:00:00.000Z

In [71]:
# Check data types. 
print(declarationAreas.dtypes)

disasterNumber             int64
programTypeCode           object
programTypeDescription    object
stateCode                 object
placeCode                  int64
designatedDate            object
dtype: object

### Remove hour:minute:second:timezone

In [72]:
declarationAreas['designatedDate'] = declarationAreas['designatedDate'].str.replace('T00:00:00.000Z', '')

In [75]:
declarationAreas.head(15)

,disasternumber,programtypecode,programtypedescription,statecode,placecode,designateddate
0,4122,PA,PA - Public Assistance,AK,1255,2013-06-25
1,4122,IH,IH - IHP-Individuals & Households,AK,1255,2013-06-25
2,4094,PA-C,PA-C - Roads & Bridges,AK,1255,2012-11-28
3,826,PA-B,PA-B - Protective Measures,AK,1580,1989-05-10
4,826,PA-A,PA-A - Debris Removal,AK,1580,1989-05-10
5,4122,PA-G,PA-G - Recreational or Other,AK,1255,2013-06-25
6,4094,PA-D,PA-D - Water Control Facilities,AK,1255,2012-11-28
7,826,PA-G,PA-G - Recreational or Other,AK,1580,1989-05-10
8,826,PA-F,PA-F - Public Utilities,AK,1580,1989-05-10
9,1843,PA,PA - Public Assistance,AK,1255,2009-06-11
10,4122,HA,HA - Housing Assistance,AK,1255,2013-06-25
11,4122,CC,CC - Crisis Counseling,AK,1255,2013-06-25
12,1843,PA-B,PA-B - Protective Measures,AK,1255,2009-06-11
13,4122,PA-C,PA-C - Roads & Bridges,AK,1255,2013-06-25
14,1843,DUA,DUA - Disaster Unemployment Assist.,AK,1255,2009-06-11

### Make columns lowercase

In [74]:
declarationAreas = declarationAreas.rename(columns={'disasterNumber': 'disasternumber', 'programTypeCode': 'programtypecode',
                                                   'programTypeDescription':'programtypedescription', 'stateCode':'statecode',
                                                   'placeCode':'placecode', 'designatedDate':'designateddate'})

# Export to PostgreSQL

In [81]:
from sqlalchemy import create_engine

In [82]:
conn = conn = "postgres:Project2@localhost:5432/Project_2"
engine = create_engine((f'postgresql://{conn}'))

In [83]:
engine.table_names()

['disasterdeclarations', 'disastersummaries', 'declarationareas']

In [88]:
declarationAreas.to_sql(name='declarationareas', con=engine, if_exists='append', index=False)

In [89]:
pd.read_sql_query('select * from declarationareas', con=engine).head()

,disasternumber,programtypecode,programtypedescription,statecode,placecode,designateddate
0,4122,PA,PA - Public Assistance,AK,1255,2013-06-25
1,4122,IH,IH - IHP-Individuals & Households,AK,1255,2013-06-25
2,4094,PA-C,PA-C - Roads & Bridges,AK,1255,2012-11-28
3,826,PA-B,PA-B - Protective Measures,AK,1580,1989-05-10
4,826,PA-A,PA-A - Debris Removal,AK,1580,1989-05-10