# Data Cleaning 2

### Converting FemaWebDisasterDeclarations.csv into DisasterDeclarations.csv for use in our database

In [1]:
import pandas as pd

In [2]:
dirty_declarations_table = pd.read_csv("FemaWebDisasterDeclarations.csv")

In [3]:
dirty_declarations_table.head()

,disasterNumber,declarationDate,disasterName,incidentBeginDate,incidentEndDate,declarationType,stateCode,stateName,incidentType,entryDate,updateDate,closeoutDate,hash,lastRefresh
0,3397,2018-02-11T00:00:00.000Z,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T00:00:00.000Z,Emergency,AS,American Samoa,Hurricane,2018-02-11T00:00:00.000Z,2018-09-26T00:00:00.000Z,NaN,26ec49d88ca8a9cd2419998ec2a6aabb,2018-09-26T14:20:59.689Z
1,3390,2017-09-18T00:00:00.000Z,HURRICANE MARIA,2017-09-16T00:00:00.000Z,2017-09-22T00:00:00.000Z,Emergency,VI,Virgin Islands of the U.S.,Hurricane,2017-09-18T00:00:00.000Z,2018-09-07T00:00:00.000Z,2018-09-07T00:00:00.000Z,606b8d3fbf7e4bd84b75a2be2fbf4117,2018-09-07T13:42:29.408Z
2,4352,2017-12-20T00:00:00.000Z,SEVERE STORMS AND FLOODING,2017-10-04T00:00:00.000Z,2017-10-06T00:00:00.000Z,Major Disaster,NM,New Mexico,Flood,2017-12-21T00:00:00.000Z,2017-12-21T00:00:00.000Z,NaN,348524eb4c9654eae1543ae0b5da70b8,2018-03-09T18:41:52.621Z
3,3388,2017-09-08T00:00:00.000Z,HURRICANE IRMA,2017-09-04T00:00:00.000Z,2017-10-04T00:00:00.000Z,Emergency,FL,Florida,Hurricane,2017-09-09T00:00:00.000Z,2018-04-03T00:00:00.000Z,2018-03-28T00:00:00.000Z,ac1cc3782349186abe34b8cfe134ef59,2018-04-03T22:01:53.622Z
4,3395,2017-10-08T00:00:00.000Z,HURRICANE NATE,2017-10-07T00:00:00.000Z,2017-10-11T00:00:00.000Z,Emergency,FL,Florida,Hurricane,2017-10-08T00:00:00.000Z,2017-10-13T00:00:00.000Z,NaN,ef18518697366c7663f5767c86ce7e7a,2018-03-09T18:41:52.623Z

### Our PostgreSQL table does not need columns that reference database maintenance/recordkeeping. Create a new table that uses only the columns that we will have in our PostgreSQL table.

In [4]:
disasterDeclarations = dirty_declarations_table[['disasterNumber', 'declarationDate', 'disasterName', 'incidentBeginDate', 'incidentEndDate', 'declarationType', 'stateCode', 'stateName', 'incidentType']].copy()

In [5]:
disasterDeclarations.head()

,disasterNumber,declarationDate,disasterName,incidentBeginDate,incidentEndDate,declarationType,stateCode,stateName,incidentType
0,3397,2018-02-11T00:00:00.000Z,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T00:00:00.000Z,Emergency,AS,American Samoa,Hurricane
1,3390,2017-09-18T00:00:00.000Z,HURRICANE MARIA,2017-09-16T00:00:00.000Z,2017-09-22T00:00:00.000Z,Emergency,VI,Virgin Islands of the U.S.,Hurricane
2,4352,2017-12-20T00:00:00.000Z,SEVERE STORMS AND FLOODING,2017-10-04T00:00:00.000Z,2017-10-06T00:00:00.000Z,Major Disaster,NM,New Mexico,Flood
3,3388,2017-09-08T00:00:00.000Z,HURRICANE IRMA,2017-09-04T00:00:00.000Z,2017-10-04T00:00:00.000Z,Emergency,FL,Florida,Hurricane
4,3395,2017-10-08T00:00:00.000Z,HURRICANE NATE,2017-10-07T00:00:00.000Z,2017-10-11T00:00:00.000Z,Emergency,FL,Florida,Hurricane

In [6]:
# Check data types
print(disasterDeclarations.dtypes)

disasterNumber        int64
declarationDate      object
disasterName         object
incidentBeginDate    object
incidentEndDate      object
declarationType      object
stateCode            object
stateName            object
incidentType         object
dtype: object

### Remove hour:minute:second:timezone

In [7]:
disasterDeclarations['declarationDate'] = disasterDeclarations['declarationDate'].str.replace('T00:00:00.000Z', '')

In [8]:
disasterDeclarations['incidentBeginDate'] = disasterDeclarations['incidentBeginDate'].str.replace('T00:00:00.000Z', '')

In [9]:
disasterDeclarations['incidentEndDate'] = disasterDeclarations['incidentEndDate'].str.replace('T00:00:00.000Z', '')

In [12]:
disasterDeclarations.head()

,disasterNumber,declarationDate,disasterName,incidentBeginDate,incidentEndDate,declarationType,stateCode,stateName,incidentType
0,3397,2018-02-11,TROPICAL STORM GITA,2018-02-07,2018-02-12,Emergency,AS,American Samoa,Hurricane
1,3390,2017-09-18,HURRICANE MARIA,2017-09-16,2017-09-22,Emergency,VI,Virgin Islands of the U.S.,Hurricane
2,4352,2017-12-20,SEVERE STORMS AND FLOODING,2017-10-04,2017-10-06,Major Disaster,NM,New Mexico,Flood
3,3388,2017-09-08,HURRICANE IRMA,2017-09-04,2017-10-04,Emergency,FL,Florida,Hurricane
4,3395,2017-10-08,HURRICANE NATE,2017-10-07,2017-10-11,Emergency,FL,Florida,Hurricane

In [13]:
disasterDeclarations.to_csv("DisasterDeclarations.csv")

In [21]:
disasterDeclarations = disasterDeclarations.rename(columns={'disasterName': 'disastername', 'incidentBeginDate': 'incidentbegindate',
                                                           'incidentEndDate': 'incidentenddate','declarationType': 'declarationtype',
                                                            'stateCode': 'statecode', 'stateName':'statename', 'incidentType':'incidenttype',
                                                            'disasterNumber':'disasternumber','declarationDate':'declarationdate'
                                                        })

In [22]:
disasterDeclarations.head()

,disasternumber,declarationdate,disastername,incidentbegindate,incidentenddate,declarationtype,statecode,statename,incidenttype
0,3397,2018-02-11,TROPICAL STORM GITA,2018-02-07,2018-02-12,Emergency,AS,American Samoa,Hurricane
1,3390,2017-09-18,HURRICANE MARIA,2017-09-16,2017-09-22,Emergency,VI,Virgin Islands of the U.S.,Hurricane
2,4352,2017-12-20,SEVERE STORMS AND FLOODING,2017-10-04,2017-10-06,Major Disaster,NM,New Mexico,Flood
3,3388,2017-09-08,HURRICANE IRMA,2017-09-04,2017-10-04,Emergency,FL,Florida,Hurricane
4,3395,2017-10-08,HURRICANE NATE,2017-10-07,2017-10-11,Emergency,FL,Florida,Hurricane

# Export to PostgreSQL

In [39]:
from sqlalchemy import create_engine

In [40]:
connection_string = "postgres:postgres@localhost:5432/project_2"
engine = create_engine(f'postgresql://{connection_string}')

In [41]:
engine.table_names()

['disasterdeclarations', 'premise', 'disasterDeclarations']

In [42]:
disasterDeclarations.to_sql(name='disasterdeclarationstwo', con=engine, if_exists='append', index=False)

In [44]:
pd.read_sql_query('select * from disasterdeclarationstwo', con=engine).head()

,disasternumber,declarationdate,disastername,incidentbegindate,incidentenddate,declarationtype,statecode,statename,incidenttype
0,3397,2018-02-11,TROPICAL STORM GITA,2018-02-07,2018-02-12,Emergency,AS,American Samoa,Hurricane
1,3390,2017-09-18,HURRICANE MARIA,2017-09-16,2017-09-22,Emergency,VI,Virgin Islands of the U.S.,Hurricane
2,4352,2017-12-20,SEVERE STORMS AND FLOODING,2017-10-04,2017-10-06,Major Disaster,NM,New Mexico,Flood
3,3388,2017-09-08,HURRICANE IRMA,2017-09-04,2017-10-04,Emergency,FL,Florida,Hurricane
4,3395,2017-10-08,HURRICANE NATE,2017-10-07,2017-10-11,Emergency,FL,Florida,Hurricane

In [45]:
engine.table_names()

['disasterdeclarations',
 'premise',
 'disasterDeclarations',
 'disasterdeclarationstwo']